<!-- MAKE AN APPOINTMENT -->
<section id="appointment" data-stellar-background-ratio="3">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-sm-6">
                <img src="https://youmed.vn/photos/497f7393-e7ff-4143-b78b-98054f503ce2.jpg" class="img-responsive" alt>
            </div>
            
            <div class="col-md-6 col-sm-6">
                <!-- CONTACT FORM HERE -->
                <form method='GET' action='/order/createorder'>

                    <!-- SECTION TITLE -->
                    <div class="section-title wow fadeInUp"
                        data-wow-delay="0.4s">
                        <h2>Đặt lịch kiểm tra sức khỏe</h2>
                    </div>

                    <div class="wow fadeInUp"
                        data-wow-delay="0.8s">
                        <div class="col-md-6 col-sm-6">
                            <label for="date">Chọn ngày</label>
                            <input type="date" name="date" value class="form-control">
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <label id="select" for="select">Chọn khoa</label>
                            <select class="form-control" name="department">
                                {{#each department}}
                                    <option value="{{this.name}}">{{this.name}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <label for="select">Chọn khung giờ</label>
                            <select class="form-control" name="hour">
                                    <option>6:00-6:59</option>
                                    <option>7:00-7:59</option>
                                    <option>8:00-8:59</option>
                                    <option>9:00-9:59</option>
                                    <option>10:00-10:59</option>
                                    <option>11:00-11:59</option>
                                    <option>12:00-12:59</option>
                                    <option>13:00-13:59</option>
                                    <option>14:00-14:59</option>
                                    <option>15:00-15:59</option>
                                    <option>16:00-16:59</option>
                                    <option>17:00-17:59</option>
                                    <option>18:00-18:59</option>
                                    <option>19:00-19:59</option>
                                
                            </select>
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <button type="submit" class="form-control" id="cf-submit" >Tìm kiếm</button>
                        </div>

                        <table class='table mt-4'>
                            <thead>
                            <tr>
                                <th scope='col'>#</th>
                                <th scope='col'>
                                    Họ tên bác sĩ
                                </th>
                                <th scope='col'>Chuyên khoa</th>
                                <th scope='col'></th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each calender}}
                                <tr>
                                <th scope='row'>{{sum @index 1}}</th>
                                <td>{{this.doctorName}}</td>
                                <td>{{this.department}}</td>
                                </tr>
                                {{else}}
                                <tr>
                                <td colspan="5" class="text-center">Hiện chưa có bác sĩ đảm nhiệm cho khung giờ này!!! Bệnh nhân vui lòng chọn khung giờ khác hoặc quay lại vào thời điểm khác</td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                        
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>

